.footer {
  background-color: #171616;
  color: white;
  text-align: center;
  padding: 7px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.orientacionTarjeta {
  width: 80%;
  margin: auto;
  padding: 5em;
  text-align: center;
}
