<app-navbar></app-navbar>

<body id="page-top">

    <!-- About-->

    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">

        <div class="container px-4 px-lg-5">
            <br>
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/home2.jpg" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>No dejes de leer</h4>
                        <p class="text-black-50 mb-0">Las bibliotecas desempeñan una labor esencial en el fomento de la alfabetización y el aprendizaje, elestablecimiento de las bases para el desarrollo y la custodia del patrimonio cultural y científicouniversal. La lectura aumenta
                            la comprensión, atención, observación, concentración, reflexión / pensamiento crítico y memoria de las personas. La lectura de libros nos hace más inteligentes. La lectura despierta la curiosidad y alimenta la imaginación.
                            Leer activa la inspiración, imaginación y el surgimiento de ideas.</p>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="assets/home3.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Acerca</h4>
                                <p class="mb-0 text-white-50">Los principales temas de discusión en BLIBLIOTECA UDENAR a menudo abren el camino a conversaciones sorprendentes e inesperadas gracias a los usuarios comprometidos de nuestro foro. Nuestro foro está dedicado a mejorar la
                                    experiencia del foro al ofrecer muchas oportunidades para que los usuarios interactúen entre sí en un entorno en línea interesante y seguro.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="assets/home4.jpg" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Crea el hábito de lectura</h4>
                                <p class="mb-0 text-white-50">El hábito comprende la repetición frecuente del acto de leer y el conjunto de destrezas y habilidades implicadas en esta actividad, adquiridas gracias a su iteración y al progresivo dominio de sus mecanismos, y subyace
                                    la voluntad frente a la obligatoriedad.</p>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup-->


    <br>
    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50">
        <div class="container px-4 px-lg-5">2022 © Biblioteca UDENAR | Ipiales, Nariño - Colombia</div>
    </footer>
    <!-- Bootstrap core JS-->

</body>