<app-navbar></app-navbar>
<br><br>

<head>
    <style>
        body {
            background-image: url(../img/font.png);
            background-size: cover;
        }
    </style>

</head>


<body>


    <div class="orientacionTarjeta">
        <div class="card">
            <h5 class="card-header text-center">EDITAR INFORMACIÓN DEL LIBRO</h5>
            <div class="card-body">
                <form [formGroup]="registroLibro" (ngSubmit)="poner()">
                    <div class="row mb-3 needs-validation" novalidate>
                        <div class="col mx-5 px-5">
                            <label for="validationnombre" class="form-label">Nombre del libro</label>
                            <div class="col-sm-auto">

                                <input formControlName="nombre_libro" type="text" class="form-control" id="nombre_libro">
                            </div>
                        </div>
                        <div class="col mx-5 px-5">
                            <label for="apellido" class="form-label">Autor del libro</label>
                            <div class="col-sm-auto">
                                <input formControlName="autor_libro" type="text" class="form-control" id="autor_libro">
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3 needs-validation" novalidate>
                        <div class="col mx-5 px-5">
                            <label for="validationnombre" class="form-label">ISBN del libro</label>
                            <div class="col-sm-auto">
                                <input formControlName="isbn" type="text" class="form-control" id="isbn">
                            </div>
                        </div>
                        <div class="col mx-5 px-5">
                            <label for="apellido" class="form-label">Editorial del libro</label>
                            <div class="col-sm-auto">
                                <input formControlName="editorial" type="text" class="form-control" id="editorial">
                            </div>
                        </div>
                    </div>

                    <div class="container fluid">
                        <div class="mx-auto" style="width:190px;">
                            <input class="btn btn-success btn-sm me-md-4" type="submit" value="Actualizar">
                            <button type="button" class="btn btn-warning btn-sm" routerLink="/editarlibro">Volver</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer-->

    <div class="footer">
        <p>2022 © Biblioteca UDENAR | Ipiales, Nariño - Colombia</p>
    </div>

</body>