<app-navbar></app-navbar>
<br><br>


<div class="orientacionTarjeta">
  <div class="card text-bg-light mb-3" style="max-width: 120rem;">
    <div class="card-header">EDITAR LIBROS</div>
    <div class="card-body">

      <table *ngIf="listaLibros.length>0" class="table table-hover mt-3">
        <thead>
          <tr>
            <td>Nombre</td>
            <td>ISBN</td>
            <td>Editorial</td>
            <td>Autor</td>
            <td colspan="3">Opciones</td>

          </tr>
        </thead>


        <tbody>
          <tr *ngFor="let coment of listaLibros">

            <td><a>{{coment.nombre}}</a></td>
            <td>{{coment.isbn}}</td>
            <td>{{coment.editorial}}</td>
            <td>{{coment.autor}}</td>
            <td style="width: 5%"><button class="btn btn-primary btn-sm float-end"
                routerLink="/editarinformacionlibro">Editar
              </button></td>
            <td style="width: 5%"><button class="btn btn-success btn-sm float-end" routerLink="/prestarlibro">Prestar
              </button></td>
            <td style="width: 5%"><button class="btn btn-danger btn-sm float-edd">Eliminar
              </button></td>
          </tr>
        </tbody>
      </table>

      <!-- <div *ngif="listaLibros.length==0" class="row mt5">
      <h5> No hay ningun libro registrado</h5>
    </div> -->
    </div>
  </div>
</div>


<!-- Footer-->
<div class="footer">
  <p>2022 © Biblioteca UDENAR | Ipiales, Nariño - Colombia</p>
</div>